.login_wrapper {
	max-width: 450px !important;
}

.login_content{
	background: white !important;
	border-radius: 7px !important;
}
.btn-primary{
	background: #20354A !important;
	border-color: white;
}

body{
	background: #2A3F54!important;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat #20354A ;
	opacity: 1;
}

h1 {
	color: #1E5799 !important;
	font-weight: bold !important;
}

.btn-success {
	background: #F7F7F7 !important;
	border-color: #10CC2C !important;
	color: #10CC2C !important;
	font-weight: bold;
}


.btn-danger {
	background: #F7F7F7 !important;
	border-color: #D60B04 !important;
	color: #D60B04 !important;
	font-weight: bold;
}
.btn-danger .fa,
.btn-danger .fas,
.btn-danger .far{
	color: #D60B04 !important;
}

.msj_formulario{
	color: #D60B04 !important;
	display: none;
}
small{
	color: #D60B04 !important;
}

.fas, .fab, .far, .fa {
	color: #10CC2C !important;
}

label{
	color: #009ec3 !important;
	font-weight: bold;
}
h2, .tituloSistema{
	color: #1E5799 !important;
	font-weight: bold !important;
}
input, option{
	color: #1E5799 !important;
	font-weight: bold !important;
}
input::placeholder {
	color:#C1C1C1 !important;
	font-weight: normal !important;
}

.main_menu span.fas {
	float: right;
	text-align: center;
	margin-top: 5px;
	font-size: 10px;
	min-width: inherit;
}

.jconfirm-box{
	background: #17394F !important;
	color: white !important;
}

#tblgeneral thead{
	background: #17394F !important;
	color: white;
}

#tblgeneral{
	font-size: 10px;
}

#tblgeneral tbody{
	color: #1E5799 !important;
}

#tblgeneral tbody tr .detalle{
	cursor: pointer;
}

.historial_asesores{
	font-size: 14px !important;
	font-weight: normal !important;
}

.configprospectos{
	font-size: 10px !important;
}

.listaconfig{
	background: #17394F !important;
}

.listaconfig span{
	color: white !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	cursor: pointer !important;
}

.listaconfig span:hover{
	background: #1E5799 !important;
}

#historialasesores, #historialcomentarios{
	height: 150px !important;
	overflow-y: scroll;
}

textarea{
	border-color:  #10CC2C !important;
	color: #1E5799 !important;
}

#alertacontacto{
	color: #D60B04 !important;
	font-size: 15px !important;
}

.boxing{
	border-color:  #10CC2C !important;
	border-style: ridge !important;
	border-width: thin !important;
}

.textcard{
	font-weight: bold !important;
	color: #BAB8B8 !important;
}

#alerta strong i{
	color: #A80603 !important;
}

#alerta {
	color: #E9EDEF !important;
	background-color: #EF7F80 !important;
	border-color: #EF7F80 !important;
}

.card-header{
	padding: 0px 0px 0px 0px !important;
}

.card-header p, .btnsms{
	cursor: pointer!important;
}

.editarcorreo{
	cursor: pointer;
}
